$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$black-blue-desat: hsl(236, 21%, 26%);
$black-blue: hsl(235, 15%, 14%);
$dark-purple-900: hsl(251, 19%, 12%);
$dark-purple-800: hsl(268, 22%, 13%);
$dark-purple-700: hsl(271, 23%, 18%);

